.html5-change-speed-button .yt-uix-button-icon {
	display: none;
}

#player-api embed {
	display: none !important;
}


.html5-change-speed-button .yt-uix-button-icon-wrapper strong {
	padding: 0 3px;
	color: #fff;
	text-shadow: 0 0 6px #000;
	font-size: 11px;
}


.html5-change-speed-button .speed {
	vertical-align: middle;
	width: 80px;
	margin-left: 2px;

	-webkit-appearance: none;
	background: #444;
	height: 4px;
	border-radius: 2px;
}

.html5-change-speed-button .speed:focus {
	outline: none;
}

.html5-change-speed-button .speed::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #E9E9E9;
	height: 12px;
	width: 12px;
	border-radius: 50%;
}

.player-api {
	background: #000 !important;
}

.embedded-player {
	width: 100%;
	height: 100%;
}